<h3>This is About page</h3>
<form  [formGroup]="aboutForm" (ngSubmit)="onSubmit(aboutForm.value)">
     <div class="form-group" [ngClass]="{'has-error':!aboutForm.controls['firstname'].valid}"><input [formControl]="aboutForm.controls['firstname']" name="firstname" class="form-control" type="text"  placeholder="FirstName"><span *ngIf="!aboutForm.controls['firstname'].valid">FirstName Required</span></div>
    <div class="form-group"><input [formControl] ="aboutForm.controls['lastname']"  name="lastname" class="form-control" type="text"  placeholder="LastName"></div>
    <div class="form-group"><input [formControl]="aboutForm.controls['age']"  name="age" class="form-control" type="text"  placeholder="Age"></div>
    <div class="radio"><label><input [formControl]="aboutForm.controls['gender']"  name="gender"  type="radio" value="Male" >Male</label></div>
    <div class="radio"><label ><input [formControl]="aboutForm.controls['gender']"  name="gender"  type="radio" value="Female">Female</label></div>
    <button type="submit" class="btn btn-success" [disabled]="!aboutForm.valid">Submit</button>
</form>
